<link rel="stylesheet" type="text/css" href="/css/style.css" />

<html>

<body>

    <h2 class = "HeaderCenter">Add New Movie</h2>

    <div class="DesignMemberEdit">

    <form action="/Subscriptions/add/<%=userId%>" method="POST"> <br/>
     
            Name :  <input type="text" name="Name"/> <br/> 
             Email :  <input type="text" name="Email"/> <br/> 
             City :  <input type="text"  name="City"/> <br/> <br/>
        
             <input type="submit" name="vote" value="Save"/> <br/> <br/>
             <input type="submit" name="vote" value="Cancel"/>
            
              </div>
    
    </form>

</body>


</html>