<html>

    <div>


    <h1>Movies- Subscriptions Web Site</h1>

    <%if(permissions.includes('ViewMovies')) 
    {%>
    <form action="/Movies/<%= ident%>/all">
        <input type="submit" value="Movies" />
    </form>
    <%}%>

    <%if(permissions.includes('ViewSubscriptions')) 
    {%>
    <form action="/Subscriptions/<%= ident%>">
        <input type="submit" value="Subscriptions" />
    </form>
    <%}%>


    <% if(manage)
    {
    %> <form action="/UserManagement/<%= ident%>">
        <input type="submit" value="Users Management"/>
    </form>
    <%
    } %>

    <form action="http://localhost:3000">
        <input type="submit" value="Log Out"  />
    </form>

</div>

</html>